#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(./src/assets/puppybw01dark.png);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  }

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: black;
  text-align: center;
   
}

.create {
  width: 250px;
  height: 250px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 10px;
  background: black;
  overflow-x: hidden;
  padding: 8px 0;
}

.players {
  text-align: center;
  background-color: #222222;
  border-radius: 20px;
  margin-left:auto;
  margin-right:auto;
  padding: 15px;
  width: 300px;
  height: 450px;
}

.thumbnail {
height: 75px;
border-radius: 15px;
margin: 10px;
}

.puppypals {
  padding-left: 1px;
  font-variant: small-caps;
  display: inline;
}

.playerlist {
  vertical-align: center;
  position: relative;
  /* z-index: 98; */
  top: 120px;
  margin-bottom: 100px;
  /* padding-bottom: 100px; */
  
}
 
.details {
  /* display:block; */
  /* z-index: 99; */
}

.details img {
  /* height: 100px; */
  /* border-radius: 20px; */
 
}

#single {
  /* border-radius: 20px; */
  text-align: right;
  background-color: rgba(0, 0, 0, 0.75);
  /* border-radius: 20px; */
  margin-left:auto;
  margin-right:auto;
  padding: 15px;
  width: 700px;
  height: 500px;
  display: block;
  border: 2px solid white;
}

#detail-image {
  margin-left: 25px;
  height: 450px;
  float: left;
  border-radius: 20px;
 }

.deets {
  text-align: center;
  /* display: flex; */
}

button {
  background-color: black !important;
}

tr {
  /* display: inline; */
  /* width: 200px;
  height: 300px; */

  

}

td {
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
}

tr:nth-of-type(1n+0) {
  background-color: rgba(0, 0, 0, 0.75);
}

tr:nth-of-type(2n+0) {
  background-color: rgba(15, 16, 18, 0.75);
}

.bones img {
  height: 75px;
  width: 75px;
  vertical-align: middle;
  line-height: 120px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 20s linear;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

